@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <h1 class="display-4" style="text-align:center"><b>About Us</b></h1>

</div>
<br />

<br />


<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="~/lib/bootstrap/hemant.jpg" alt="hemant">
                <div class="card-body">
                    <h5 class="card-title"><b>Hemant Suresh Bhoir</b></h5>
                    <p class="card-text">
                        PRN : 240340320042 <br />
                        PG-DAC Student, March-24 batch <br />
                        CDAC Mumbai KH

                    </p>


                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="~/lib/bootstrap/nidhi.jpg" alt="nidhi">
                <div class="card-body">
                    <h5 class="card-title"><b>Nidhi Chourasiya</b></h5>
                    <p class="card-text">
                        PRN : 240340520046 <br />
                        PG-DAC Student, March-24 batch <br />
                        CDAC Mumbai KH

                    </p>


                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="~/lib/bootstrap/sumit.jpg" alt="hemant">
                <div class="card-body">
                    <h5 class="card-title"><b>Sumit Manoj Pardeshi</b></h5>
                    <p class="card-text">
                        PRN : 240340320111 <br />
                        PG-DAC Student, March-24 batch <br />
                        CDAC Mumbai KH

                    </p>


                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="~/lib/bootstrap/pra.jpg" alt="pra">
                <div class="card-body">
                    <h5 class="card-title"><b>Pratibha Singh</b></h5>
                    <p class="card-text">
                        PRN : 240340520061 <br />
                        PG-DAC Student, March-24 batch <br />
                        CDAC Mumbai KH

                    </p>


                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="~/lib/bootstrap/bhud.jpg" alt="bhud">
                <div class="card-body">
                    <h5 class="card-title"><b>Buddhabhushan Ankush</b></h5>
                    <p class="card-text">
                        PRN : 240340320029 <br />
                        PG-DAC Student, March-24 batch <br />
                        CDAC Mumbai KH

                    </p>


                </div>
            </div>

        </div>
    </div>

</div>
