@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <h1 class="display-4"><b>Welcome To GymPro</b></h1>
    
</div>
<br />

<br />
<div>
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/lib/bootstrap/c1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/lib/bootstrap/c2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/lib/bootstrap/c3.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</div>
<br />
<div>
    <h1 style="text-align:center"><b>THE CHANGE IS HERE!!!!</b></h1>
</div>
<br />
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="~/lib/bootstrap/f1.jpg" alt="Fitness 1">
                <div class="card-body">
                    <h5 class="card-title"><i>Workout</i></h5>
                    <p class="card-text">
                        Personal Training: Achieve your fitness goals with personalized workout plans.
                        Nutrition Counseling: Expert advice for a healthier, balanced diet.
                        
                    </p>
                   
                        
                    </div>
                </div>
           
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="~/lib/bootstrap/ff2.jpg" alt="Fitness 1">
                <div class="card-body">
                    <h5 class="card-title"><i>Yoga</i></h5>
                    <p class="card-text">
                        Personal Training: Achieve your fitness goals with personalized workout plans.
                        Nutrition Counseling: Expert advice for a healthier, balanced diet.

                    </p>


                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="~/lib/bootstrap/f3.jpg" alt="Fitness 1">
                <div class="card-body">
                    <h5 class="card-title"><i>Fitness</i></h5>
                <p class="card-text">
                    "We prioritize your fitness journey with personalized care and support every step of the way
                    "Your goals are our focus, ensuring every workout is a step towards your success and well-being."
                </p>
                    
                </div>
            </div>
        </div>
    </div>
</div>
